@{
    ViewData["Title"] = "Joke";
}

<div class="text-center">
  
    <div id="root"></div>

    <script type="text/babel" src="~/js/Jokebundle.js">
    </script>
</div>

@*browserify ./BookListMVC/wwwroot/js/BusinessCard.js -o ./BookListMVC/wwwroot/js/bundle.js*@

